{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div>
<h2 class="h1 text-uppercase font-weight-bold texto-index">Planos de saúde em destaque</h2>
  </div>
<br>

<div>
  <h3 class = "text-muted texto-index"> Realize sua cotação no menu acima ou nos chame no Whatsapp no botão do canto direito da página.
  </div>
  <br>
<div class = "planos">
  <a> <img src="https://res.cloudinary.com/bannet/image/upload/v1542736432/planodesaude.net.br/operadoras/plano-de-saude-bradesco-alt.jpg" lazy = "loaded"></img></a>

  <a> <img src="https://res.cloudinary.com/bannet/image/upload/v1541682444/planodesaude.net.br/operadoras/plano-de-saude-hapvida.jpg" lazy = "loaded"></img></a>

  <a> <img src="https://res.cloudinary.com/bannet/image/upload/v1541682444/planodesaude.net.br/operadoras/plano-de-saude-amil.jpg" lazy = "loaded"></img></a>

  <a> <img src="https://res.cloudinary.com/bannet/image/upload/v1541682444/planodesaude.net.br/operadoras/plano-de-saude-unimed.jpg" lazy = "loaded"></img></a>

  <a> <img src="https://res.cloudinary.com/bannet/image/upload/v1541682444/planodesaude.net.br/operadoras/plano-de-saude-qualicorp.jpg" lazy = "loaded"></img></a>

{% endblock content %}

  